section.hero
	.swiper
		.swiper-wrapper
			.swiper-slide
				+picture({
					img: 'test.jpg',
					alt: '2',
					class: 'hero__img_w',
					img_class: 'hero__img',
					lazy: true,
					is2x: true
				})
