html {
    font-family: var(--base-font);
    font-size: 100%;
    height: 100%;
    text-size-adjust: 100%;
}

body {
    height: 100%;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
    color: var(--text);
    min-width: 320px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

audio,
canvas,
iframe,
img,
svg,
video,
textarea {
    vertical-align: middle;
}

textarea {
    resize: none;
}

a {
    text-decoration: none;
    transition: all .3s ease-in;
}

svg {
    flex-shrink: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

main {
    flex: 1 1 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.container {
    max-width: var(--cont-width);
    width: 100%;
    padding: var(--cont-offset);
    margin: 0 auto;
}

.modal-window {
    display: none;
}

img.lazy {
    background-image: url('data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7');
}

img.swiper-lazy {
    background-image: url('data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7');
}

img.swiper-lazy-loaded {
    background-image: none;
}

img.lazy.loaded {
    background-image: none;
}
