// Colors
:root {
    //fonts
    --base-font: 'SFpro', Arial, sans-serif;

    //colors
    --text: #212529;
    --color-white: #fff,
    --color-black: #212529;
    --color-altblack: #2a2a2a;
    --color-gray: #6c757d;
    --color-lightblue: #86b7fe;
    --color-blue: #0d6efd;
    --color-red: #dc3545;

    //content layout
    --cont-offset: 0 15px;
    --cont-width: 1170px;

}

// Sizes
$root-font-size: 16px;

// Fonts
