// Colors
:root {
	//fonts
	--font-1: 'SFpro', Arial, sans-serif;

	//colors
	--text: #212529;
	--white: #fff;
	--altblack: #2a2a2a;
	--gray: #6c757d;
	--lightblue: #86b7fe;
	--blue: #0d6efd;
	--red: #dc3545;

	//content layout
	--gl-offset: 2rem;
	--page-width: 118rem;

	//utils
	--full-screen: calc(var(--vh, 1vh) * 100);
}

// Sizes
$root-font-size: 16px;


//breakpoints
$point_1: 1200px;
$point_2: 1024px;
$point_3: 1023px;
$point_4: 768px;
$point_5: 640px;
$point_6: 480px;
$point_7: 375px;
$point_8: 320px;
