extends ../layout/layout

block variables
	- title = 'Index page'
	- mainClass = 'content'
	- bodyClass = ''

block content
	//- img(src="@img/global/test.jpg" alt="test")
	include ../blocks/hero



block modals
	//- include ../partials/modals/example-modal

block script
	//- script(src="./assets/js/home.js")
