mixin headerNavLink(link, text, active)
    if (active)
        li.header-nav__item
            a(href=link).header-nav__link.header-nav__link--active= text
    else
        li.header-nav__item
            a(href=link).header-nav__link= text

header.header
    .container.header__content
        nav.header-nav
            ul.header-nav__list
                +headerNavLink('#', 'Home', 'a')
                +headerNavLink('#', 'About')
