.lang-switcher
    .lang-switcher__current
        img(src="images/flags/flag_ukraine.png", alt="ua")
    .lang-switcher__dropwrapper
        .lang-switcher__triangle
        ul.lang-switcher__list
            li.lang-switcher__item
                a(href="#" aria-label="english" title="english").lang-switcher__link
                    img(src="images/flags/flag_usa.png", alt="ua")
            li.lang-switcher__item
                a(href="#" aria-label="turkish" title="turkish").lang-switcher__link
                    img(src="images/flags/flag_turkey.png", alt="ua")
