include ../helpers/global-mixins
block variables

doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible' content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="Site example")
		meta(name="description" content="This is description placeholder")
		link(rel="preload" href="assets/fonts/sfpro/sfproregular.woff2" as="font" type="font/woff2" crossorigin)
		link(rel="preload" href="assets/fonts/sfpro/sfpromedium.woff2" as="font" type="font/woff2" crossorigin)
		link(rel="preload" href="assets/fonts/sfpro/sfprosemibold.woff2" as="font" type="font/woff2" crossorigin)
		link(rel="preload" href="assets/fonts/sfpro/sfprobold.woff2" as="font" type="font/woff2" crossorigin)
		link(rel="stylesheet" type='text/css' href="./assets/css/style.min.css")
	body(class=bodyClass)
		.wrapper
			include ../blocks/header
			main(class=mainClass)
				block content
			include ../blocks/footer
			block modals
		//- script(src="./js/vendor/jquery-3.3.1.min.js")
		script(src="./assets/js/main.min.js")
		block script
