@mixin h1 {
	font-weight: 600;
	line-height: 1.13;
	@include bp($point_2, min) {
		font-size: 6.5rem;
	}
	@include bp($point_3) {
		font-size: 3.5rem;
	}
}

@mixin h2 {
	font-weight: 600;
	@include bp($point_2, min) {
		font-size: 5rem;
		line-height: 1.6;
	}
	@include bp($point_3) {
		font-size: 3rem;
		line-height: 1.13;
	}
}

@mixin h3 {
	font-weight: 600;
	line-height: 1.13;
	@include bp($point_2, min) {
		font-size: 3.5rem;
	}
	@include bp($point_3) {
		font-size: 2.2rem;
	}
}

@mixin h4 {
	font-weight: 600;
	line-height: 1.13;
	@include bp($point_2, min) {
		font-size: 2.8rem;
	}
	@include bp($point_3) {
		font-size: 2rem;
	}
}

@mixin h5 {
	font-weight: 600;
	line-height: 1.13;
	@include bp($point_2, min) {
		font-size: 2.4rem;
	}
	@include bp($point_3) {
		font-size: 1.8rem;
	}

}

@mixin h6 {
	font-weight: 600;
	line-height: 1.13;
	@include bp($point_2, min) {
		font-size: 2rem;
	}
	@include bp($point_3) {
		font-size: 1.8rem;
	}
}

@mixin text {
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.33;
}
