//- svg icon
//- ////////////////
mixin icon(name,mod)
    if(mod)
        svg(class="svg-sprite-icon icon-" + name + ' ' + mod)
            use(xlink:href="./assets/images/sprite/sprite.svg#" + name)
    else
        svg
            use(xlink:href="./assets/images/sprite/sprite.svg#" + name)
//- ////////////
//- ////////////


//- webp pictures
//- /////////////
mixin picg(path, ext, alt, className)
    if(className)
        picture
            source(srcset="./assets/images/global/" + path + ".webp", type="image/webp")
            img(src="./assets/images/global/" + path + "." + ext, alt="" + alt, class="" + className)
    else
        picture
            source(srcset="./assets/images/global/" + path + ".webp", type="image/webp")
            img(src="./assets/images/global/" + path + "." + ext, alt="" + alt)

mixin picc(path, ext, alt, className)
    if(className)
        picture
            source(srcset="./assets/images/content/" + path + ".webp", type="image/webp")
            img(src="./assets/images/content/" + path + "." + ext, alt="" + alt, class="" + className)
    else
        picture
            source(srcset="./assets/images/content/" + path + ".webp", type="image/webp")
            img(src="./assets/images/content/" + path + "." + ext, alt="" + alt)

mixin lazypicg(path, ext, alt, className)
    if(className)
        picture
            source(data-srcset="./assets/images/global/" + path + ".webp", type="image/webp")
            img(data-src="./assets/images/global/" + path + "." + ext, alt="" + alt, class="lazy " + className)
    else
        picture
            source(data-srcset="./assets/images/global/" + path + ".webp", type="image/webp")
            img(data-src="./assets/images/global/" + path + "." + ext, class="lazy", alt="" + alt)

mixin lazypicc(path, ext, alt, className)
    if(className)
        picture
            source(data-srcset="./assets/images/content/" + path + ".webp", type="image/webp")
            img(data-src="./assets/images/content/" + path + "." + ext, alt="" + alt, class="lazy " + className)
    else
        picture
            source(srcset="./assets/images/content/" + path + ".webp", type="image/webp")
            img(data-src="./assets/images/content/" + path + "." + ext, class="lazy", alt="" + alt)
//- ///////////////
//- ///////////////
